.product-whole {
  padding: 1pc 0;
}

.product-image {
  width: 90%;
  display: block;
  margin: auto;
}

.product-informations {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding-top: 1pc;
}

.product-info {
  font-size: large;
  font-weight: bold;
  line-height: 2;
}

@media screen and (min-width: 800px) {
  .product-whole {
    padding: 2pc 0;
  }
  .product-image {
    width: 50%;
    display: block;
    margin: auto;
  }

  .product-informations {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1100px) {
  .product-whole {
    padding: 3pc 0;
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
  }

  .product-image {
    width: 30%;
    display: block;
    margin: auto;
  }

  .product-informations {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    padding-top: 1pc;
  }

  .product-info {
    font-size: x-large;
    font-weight: bold;
    line-height: 2;
  }
}
