* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #ffffff;
	--secondary: #000000;
	--accent: #fc6d26;
}
.active {
	color: var(--accent) !important;
}
.none {
	display: none !important;
}
.dashboard-container {
	position: relative;
}

.side-bar-container {
	position: absolute;
	top: 0;
	left: 0;

	padding: 1rem 0 1rem 10px;
	height: 100vh;
	justify-content: space-between;
	background-color: var(--secondary);

	display: flex;
	flex-direction: column;
	box-shadow: 6px 5px 33px -6px rgba(64, 64, 64, 1);
	overflow: hidden;
	transition: 0.4s;

	width: 75%;
}
.side-bar-hidden {
	transform: translateX(-101%);
	box-shadow: unset;
	transition: 0.2s;
}
main {
	padding: 0.5rem;
}
@media screen and (min-width: 768px) {
	.toggle-menu-icon {
		display: none !important;
	}
	.side-bar-container {
		display: flex !important;
		width: 12% !important;
	}
	main {
		padding: 1rem 1rem 1rem 14%;
	}
}
.side-bar-container .greetings h1 {
	font-weight: 500;
	letter-spacing: 3px;
}
.side-bar-container .greetings h2 {
	font-size: 1rem;
	letter-spacing: 1.5px;
	text-transform: capitalize;
}
.side-bar-container,
.side-bar-container a {
	color: var(--primary);
}

.side-bar-container a {
	margin: 5px 0;
	font-size: 0.9rem;
	position: relative;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 10px 0 10px 12px;
	letter-spacing: 1.5px;
	transition: 0.3s;
}

.side-bar-container a:hover {
	color: var(--accent);
}

.side-bar-container a::before {
	content: '';
	position: absolute;
	top: 10%;
	left: 0;
	width: 0;
	background-color: var(--accent);
	height: 80%;
	border-radius: 5px;
}
.side-bar-container a:hover::before {
	width: 2px;
}

.side-bar-container svg {
	margin-right: 10px;
}

.toggle-menu-icon {
	all: unset;
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem;
	transition: 0.2s;
}
