* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-spacing: 0;
}

:root {
	--primary: #ffffff;
	--secondary: #000000;
	--accent: #fc6d26;
}
.active {
	color: var(--accent) !important;
	transform: scale(1.06) translateX(10px);
}
.title {
	text-align: center;
	margin: 2rem 0;
}
.none {
	display: none !important;
}
.dashboard-container {
	position: relative;
}

.side-bar-container {
	position: absolute;
	top: 0;
	left: 0;

	padding: 1rem 0 1rem 10px;
	height: 100vh;
	justify-content: space-between;
	background-color: var(--secondary);

	display: flex;
	flex-direction: column;
	box-shadow: 6px 5px 33px -6px rgba(64, 64, 64, 1);
	overflow: hidden;
	transition: 0.4s;

	width: 75%;
	z-index: 99999999999;
}
.side-bar-hidden {
	transform: translateX(-101%);
	box-shadow: unset;
	transition: 0.2s;
}
main {
	padding: 0.5rem;
}
@media screen and (min-width: 768px) {
	.toggle-menu-icon {
		display: none !important;
	}
	.side-bar-container {
		display: flex !important;
		width: 12% !important;
	}
	main {
		padding: 1rem 1rem 1rem 14% !important;
	}
}
.side-bar-container .greetings h1 {
	font-weight: 500;
	letter-spacing: 3px;
}
.side-bar-container .greetings h2 {
	font-size: 1rem;
	letter-spacing: 1.5px;
	text-transform: capitalize;
}
.side-bar-container,
.side-bar-container a {
	color: var(--primary);
}

.side-bar-container a {
	margin: 5px 0;
	font-size: 0.9rem;
	position: relative;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 10px 0 10px 12px;
	letter-spacing: 1.5px;
	transition: 0.3s;
}

.side-bar-container a:hover {
	color: var(--accent);
}
.side-bar-container a:focus {
	color: #ffffff;
}

.side-bar-container a::before {
	content: '';
	position: absolute;
	top: 10%;
	left: 0;
	width: 0;
	background-color: var(--accent);
	height: 80%;
	border-radius: 5px;
}
.side-bar-container a:hover::before {
	width: 2px;
}

.side-bar-container svg {
	margin-right: 10px;
}

.toggle-menu-icon {
	all: unset;
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem;
	transition: 0.2s;
}

/*  */

.products-container table {
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	color: #333;
	line-height: 1.5;
}

.products-container th,
.users-table-container th,
.users-table-container td,
.products-container td {
	color: gray !important;
	padding: 15px 20px;
	text-align: center !important;
	border-bottom: 1px solid #ddd;
}

.products-container th,
.users-table-container th {
	font-weight: bold;
	background-color: #f2f2f2;
}
.users-table-container th button {
	padding: 1rem 1.5rem;
}

.products-container tr:nth-child(even),
.users-table-container tr:nth-child(even) {
	background-color: #f2f2f2;
}
.delete-icon,
.edit-icon {
	transition: 0.4s !important;
}
.delete-icon:hover {
	color: #dc3545 !important;
}
.edit-icon:hover {
	color: blueviolet !important;
}

.users-container {
	/* background-color: red; */
	min-height: 100vh;
	overflow-x: scroll;
}
