.register-title {
  margin: 1pc 0;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 375px;
  margin: auto;
  box-shadow: 6px 5px 33px -6px rgba(64, 64, 64, 1);
  padding: 1pc;
}

.register-label {
  color: var(--secondary);
  font-weight: 900;
  font-size: 1pc;
}

.register-input {
  margin-bottom: 1pc;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 5px;
  font-size: 1.2pc;
  padding: 0 1pc;
  line-height: 2;
}

.register-input:focus {
  outline: 2px solid var(--secondary);
}

.register-input[type="file"] {
  padding: 0;
}
.register-error-message {
  color: red;
  font-weight: 900;
  font-size: 1.2pc;
  width: 100%;
  text-align: center;
  margin: auto;
  line-height: 2;
}

.register-button {
  font-size: 1.2pc;
  padding: 10px;
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--secondary);
  border-radius: 5px;
}
