.footer-footer {
    background-color: var(--secondary);
    display: flex;
    align-items: center;

    justify-content: center;
    width: 100%;
    padding: 10pc;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

.footer-socials {
    display: flex;
    justify-content: space-between;
    
}

.footer-social-link {
    font-size: 3pc;
    margin: 0 calc(1vw);
    color: var(--primary);
}

.footer-social-link:hover {

    color: var(--accent);
}



.footer-contact {
    color: var(--primary);
    font-size: xx-large;
}

.footer-contact-link {
    font-size: large;
    color: var(--primary);
    margin-right: 1pc;
}

.footer-contact-link:hover {
    color: var(--accent);

}

@media screen and (max-width: 1200px) {
    .footer-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 10vh;
    
    }

    .footer-socials {
        display: flex;
        justify-content: space-between;

    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        margin-top: 1pc;
    }

    .footer-contact-link {
        font-size: large;
        color: var(--primary);
        margin-right: 0;
        margin-top: 1pc;
    }

}